@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="conteiner-main">
    <h1>@ViewData["Title"]</h1>
    <section class="login-section">
        <form id="account" method="post">
            <div asp-validation-summary="All"></div>
            <section class="account-form">
                <h5>Enter your email.</h5>
                <div class="input-filds">
                    <div class="form-group account-input-group reset-password">
                        <div class="account-input">
                            <input asp-for="Input.Email" class="form-control reset-password-input" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="account-span-validation text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary forgot-password-btn">Submit</button>
                    </div>
                </div>
            </section>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
