@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

@*TODO: validation appearance*@

<section class="login-section register-wraper">
    <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <section class="account-form register-form">
            <h5>Create a new account.</h5>
            <div class="input-filds register-conteiner">
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.Email" class="form-control register-filds" placeholder="Email" />
                        <i class="fa fa-envelope icon"></i>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.Name" class="form-control register-filds" placeholder="Full Name" />
                        <i class="fa fa-user icon"></i>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.Adress" class="form-control register-filds" placeholder="Adress" />
                        <i class="fa fa-map-marker icon"></i>
                        <span asp-validation-for="Input.Adress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.Gender" class="form-control register-filds" placeholder="Gender" />
                        <i class="fa fa-venus-mars icon"></i>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.Password" class="form-control register-filds" placeholder="Password" />
                        <i class="fa fa-lock icon"></i>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group account-input-group">
                    <div class="account-input">
                        <input asp-for="Input.ConfirmPassword" class="form-control register-filds" placeholder="Confirm password" />
                        <i class="fa fa-lock icon"></i>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary register-btn">Register</button>
        </section>
    </form>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
