@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="p-8">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user" asp-for="Input.Email" placeholder="Email Address....">
                                    <span asp-validation-for="Input.Email" class="text-danger account-span-validation"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" asp-for="Input.Name"
                                           placeholder="Full Name">
                                    <span asp-validation-for="Input.Name" class="text-danger account-span-validation"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" asp-for="Input.Adress" placeholder="Address">
                                <span asp-validation-for="Input.Adress" class="text-danger account-span-validation"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" asp-for="Input.Gender" placeholder="Gender">
                                <span asp-validation-for="Input.Gender" class="text-danger account-span-validation"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" asp-for="Input.CountryName" placeholder="Country Name">
                                <span asp-validation-for="Input.CountryName" class="text-danger account-span-validation"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" asp-for="Input.JobTittle" placeholder="Job Tittle">
                                <span asp-validation-for="Input.JobTittle" class="text-danger account-span-validation"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" asp-for="Input.City.CityName" placeholder="City Name">
                                    <span asp-validation-for="Input.City.CityName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="number" class="form-control form-control-user" asp-for="Input.City.PostCode" placeholder="PossCode optional">
                                    <span asp-validation-for="Input.City.PostCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-1">
                                    <input type="text" class="form-control form-control-user" asp-for="Input.Company.Name" placeholder="Company Name">
                                    <span asp-validation-for="Input.Company.Name" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-1">
                                    <input type="email" class="form-control form-control-user" asp-for="Input.Company.Email" placeholder="Company Email">
                                    <span asp-validation-for="Input.Company.Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-1">
                                    <input type="text" class="form-control form-control-user" asp-for="Input.Company.FullAddres" placeholder="Company Address">
                                    <span asp-validation-for="Input.Company.FullAddres" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" asp-for="Input.Company.PhoneNumber" placeholder="Company Phone Number">
                                    <span asp-validation-for="Input.Company.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" asp-for="Input.Password" placeholder="Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" asp-for="Input.ConfirmPassword" placeholder="Confirm password">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block">Register Account</button>
                            <div asp-validation-summary="All"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
