@model HCMS.Web.ViewModels.Administration.Trainings.CreateTrainingViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-3 col-lg-10 mx-auto">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create Training</h1>
                        </div>
                        <form method="post" asp-area="Administration" asp-controller="Trainings" asp-action="Create">
                            <div class="form-group">
                                <label asp-for="TrainingInfo.Tittle"></label>
                                <input asp-for="TrainingInfo.Tittle" class="form-control" />
                                <span asp-validation-for="TrainingInfo.Tittle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrainingInfo.Description"></label>
                                <input asp-for="TrainingInfo.Description" class="form-control" />
                                <span asp-validation-for="TrainingInfo.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrainingInfo.Start"></label>
                                <input asp-for="TrainingInfo.Start" class="form-control" />
                                <span asp-validation-for="TrainingInfo.Start" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrainingInfo.End"></label>
                                <input asp-for="TrainingInfo.End" class="form-control" />
                                <span asp-validation-for="TrainingInfo.End" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TrainingInfo.TrainingHours"></label>
                                <input asp-for="TrainingInfo.TrainingHours" class="form-control" />
                                <span asp-validation-for="TrainingInfo.TrainingHours" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

