 <!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" asp-area="Employee" asp-controller="Home" asp-action="Index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<!-- Nav Item - Profil -->
<li class="nav-item active">
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>My Profile</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    System
</div>

<!-- Nav Item - Project Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProjects"
       aria-expanded="true" aria-controls="collapseProjects">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Tasks</span>
    </a>
    <div id="collapseProjects" class="collapse" aria-labelledby="headingProjects"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tasks:</h6>
            <a class="collapse-item" asp-area="Employee" asp-controller="Tasks" asp-action="Index">View My Tasks</a>
        </div>
    </div>
</li>

<!-- Nav Item - Training Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTrainings"
       aria-expanded="true" aria-controls="collapseTrainings">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Trainings</span>
    </a>
    <div id="collapseTrainings" class="collapse" aria-labelledby="headingTrainings"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item" asp-area="Employee" asp-controller="Trainings" asp-action="Index">My trainings</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Employees
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
       aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Others:</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <div class="collapse-divider"></div>
            <a class="collapse-item" asp-area="Employee" asp-controller="Vacations" asp-action="Index">My Vacations</a>
            <a class="collapse-item" asp-area="Employee" asp-controller="Vacations" asp-action="Create">Create Vacation</a>
            <a class="collapse-item" asp-area="Employee" asp-controller="Evaluations" asp-action="Index">My Evaluations</a>
        </div>
    </div>
</li>

