@model HCMS.Web.ViewModels.Administration.Evaluation.CreateEvaluationViewModel
@{
    ViewData["Title"] = "Evaluation";

    var employees = new List<SelectListItem>();
    if (Model.Employees != null)
    {
        foreach (var emp in Model.Employees)
        {
            employees.Add(new SelectListItem { Text = emp.Name, Value = emp.Id });
        }
    }
    else
    {
        employees.Add(new SelectListItem { Text = Model.Name, Value = Model.EmployeeId });
    }
    var years = Model.Years.Select(x => new SelectListItem(x.ToString(), x.ToString()));

    var url = "";
    if (this.User.IsInRole(HCMS.GlobalConstants.GlobalConstant.SystemAdministratorRole))
    {
        url = "/Administration/Evaluations/Create";
    }
    else
    {
        url = "/Manager/Evaluations/Create";
    }
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-3 col-lg-10 mx-auto">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Evaluate Employee</h1>
                        </div>
                        <form method="post" href="@url">
                            <div class="form-group">
                                <label asp-for="EmployeeId"></label>
                                <select asp-for="EmployeeId" asp-items="employees" class="form-control">
                                    <option value="">Select Employee</option>
                                </select>
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Year" for="formGroupExampleInput2"></label>
                                <select asp-for="Year" asp-items="years" class="form-control">
                                    <option value="">Select year</option>
                                </select>
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Value"></label>
                                <input asp-for="Value" class="form-control" />
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notes"></label>
                                <input asp-for="Notes" class="form-control" />
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('.back-btn').on("click", function () {
            $('.edit-form')[0].remove();
        });
    </script>
}

